{% extends "base.html" %}
{% block conteudo %}
<h2>Listando professores</h2>
{% if msg == 'deletar' %}
<div class="alert alert-sucess">Professor deletado com sucesso!</div>
{% endif %}

{% if professor|count > 0 %}
<table class="table">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>E-mail</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {% for p in professor %}
    <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.nome }}</td>
        <td>{{ p.email }}</td>
        <td><a href='/professor/deletar/{{ p.id }}' class="btn btn-danger">Excluir</a></td>
        <td><a href='/professor/alterar/{{ p.id }}' class="btn btn-warning">Alterar</a></td>
        <td><a href='/professor/{{ p.id }}' class="btn btn-info">Detalhe</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<div class="alert alert-danger">Nenhum professor encontrado para esta busca</div>
{% endif %}
<div class="alert alert-danger">Nenhum professor encontrado!</div>
{% endblock %}